@media screen and (max-width:1024px) {
.inner {width:100%; padding:0 2.6%}
.pc_img {display:none;}
.tab_img {display:inline-block;}
.mob_img {display:none;}
.pc {display:none;}
.tab {display:block;}
.mob {display:none;}

/* === Main ===*/
#wrap {position:relative; width:100%; max-width:1025px; overflow:hidden; margin:0 auto;}
#wrap.main {height:auto;}
#header {position:relative; height:auto; padding:30px 0 0;}
#header h1 {position:static;}
.gnb {display:none;}
.navi_btn {position:absolute; display:block; top:61px; right:6%; height:25px; width:42px; cursor:pointer; z-index:9999;}
.navi_btn span {position:absolute; display:block; width:100%; height:3px; background:#fff;  transition: .25s ease-in-out;}
.navi_btn span:first-child {margin-top:0;}
.navi_btn span:nth-child(1) {top:0}
.navi_btn span:nth-child(2) {top:12px;}
.navi_btn span:nth-child(3) {top:24px;}

.navi_btn.on span {background:#000;}
.navi_btn.on span:nth-child(2) {opacity:0; transition:0.3s ease-in-out; width: 0%;}
.navi_btn.on span:nth-child(1) {-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); 
transform: rotate(-45deg); top:11px; left:0px;}
.navi_btn.on span:nth-child(3) {-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); 
transform: rotate(45deg); top:11px; left:0px;}

.navigation {position:fixed; top:0; left:0; width:100%; height:100vh; z-index: 9998; background:#ff4142;}
.navigation:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; box-sizing: border-box; background:#fff;
transition: transform 1.5s ease 1s;}
.navigation.on:before {animation: navBorder 1.5s ease; transform:scale(0); transition:1.2s ease;}
.navigation .lnb {position:absolute; display:block; top:50%; left:0; transform:translateY(-50%); width:100%; padding:0 15%;}
.navigation .lnb h3 {font-size:5vw; margin-top:30px; font-weight:800;}
.navigation .lnb h3 a strong {background:linear-gradient(to right, #fff, #fff 50%, #000 50%); background-clip:text; -webkit-background-clip:text;
-webkit-text-fill-color:transparent; background-size:200% 100%; background-position:100%; transition:background-position 275ms ease;}
.navigation .lnb h3 a:hover strong{background-position: 0 100%;}
.navigation .lnb h3:first-child {margin-top:0;}
.navigation .lnb h3 a span {font-size:3vw; margin-right:15px; color:transparent; -webkit-text-stroke: 1px #000; -webkit-text-stroke: calc(.005em + 1px) #000;}

.nav_circle {position:absolute; right:-10%; bottom:-15%; width:41.875%; animation:circle linear 20s infinite;}
.nav_circle img {width:100%;}

/* @keyframes navBorder {
	0% {border-width: 0px;}
	100% {border-width: 100vw;}
} */
@keyframes circle {
	from {transform:rotate(0);}
	to {transform:rotate(360deg);}
}

#contents {position:relative; width:100%; padding:100px 0 30px; height:auto;}
#contents .inner {position:static; padding:0; transform:translateY(0); width:100%; padding:0 3%;}
a.about_link {position:static; display:block; margin:30px auto 0; top:0; left:0; transform:translateY(0); width:150px; height:50px; background:#000; z-index: 1001;
font-size:1.4em; text-align:center; letter-spacing:4px; color: #fff; transition:0.3s ease-in-out;}
.about_link span {position:static; width:100%; height:100%; left:0; top:0; margin-top:0; text-align:center; transform:rotate(0); line-height:50px;}
a.about_link:hover {height:50px; transition:0.3s ease-in-out;}

.contents_tit {padding-top: 0;}
.contents_tit h1 {font-size:75px;}
.contents_tit strong a {font-size:18px;}

.pc_list {display:none;}
.mob_list {display:block;}

.list_type_btn {width:100%; text-align:right; font-size:0;}
.list_type_btn a {display:inline-block; width:32px; height:32px; background:#ddd; margin-left:10px; padding:8px; transition:0.3s ease-in-out;}
.list_type_btn a.active {background:#ff4142; transition:0.3s ease-in-out;}
.list_type_btn a span {position:relative; display:block; width:16px; height:16px; background:#fff;}
.list_type_btn a:last-child span:before {content:''; position:Absolute; top:50%; left:0; background:#ddd; width:100%; height:2px; transition:0.3s ease-in-out;}
.list_type_btn a:last-child span:after {content:''; position:Absolute; top:0; left:50%; margin-left:-1px; background:#ddd; width:2px; height:100%; transition:0.3s ease-in-out;}
.list_type_btn a.active:last-child span:before {background:#ff4142; transition:0.3s ease-in-out;}
.list_type_btn a.active:last-child span:after {background:#ff4142; transition:0.3s ease-in-out;}

.mob_work {width:100%; font-size:0; margin-top:15px;}
.mob_work li {width:100%; margin-top:5px; transition:0.3s ease-in-out;}
.mob_work li:first-child {margin-top: 0;}
.mob_work li a {position:relative; display:inline-block; width:100%; height:0; padding-bottom:50%; z-index:1; font-size:10px; transition:0.3s ease-in-out;}
.mob_work li a:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:-1;}
.mob_work li a .txt {position:absolute; top:50%; left:0; transform:translateY(-50%); width:100%; text-align:center;}
.mob_work li a .txt span {font-size:2.2em; color:#fff; font-weight:600;}

.mob_work.active {}
.mob_work.active li {float:left; width:49%; margin-right:2%;}
.mob_work.active li:nth-child(2n) {margin-right: 0;}
.mob_work.active li:nth-child(-n+2) {margin-top: 0;}

.move_txt {position:static; bottom:auto; left:auto; width:100%; border-top:1px solid #fff; border-bottom:1px solid #fff; margin-top:30px;}
.move_txt span {display:block; animation:moveTxt 15s linear infinite; font-size:18px; color:#fff; letter-spacing:3px; white-space:nowrap;}


/* work */
#header.work {height:auto;}
#sub_contents {width:100%; padding:130px 3% 100px;}
.work_list {width:100%;}
.work_list li {position:relative; float:left; width:48.5%; margin-right:3%; margin-top:45px;}
.work_list li h3.work_tit {position:absolute; top:0; left:0; width:100%; word-break:keep-all; color:#fff; font-weight:700; padding:0 7%;
z-index:10; line-height:1; transform:translateX(-10px); opacity:0; transition:0.4s ease-in-out;}
.work_list li:nth-child(2n) {margin-right: 0;}

.work_list.work_mob li {width:31.51%; margin-right:2.6%;}
.work_list.work_mob li h3 {padding:0 9%;}
.work_list.work_mob li:nth-child(4n) {margin-right: 2.6%;}
.work_list.work_mob li:nth-child(-n+4) {margin-top: 45px;}
.work_list.work_mob li:nth-child(3n) {margin-right: 0;}
.work_list.work_mob li:nth-child(-n+3) {margin-top: 0;}
.work_list.work_mob li a {padding-bottom:100%;}

/* about */
#wrap.about {background:#ff4142; height: auto;}
#header.about {height:auto;}
#header.about .gnb li:hover:before {background:#000; opacity: 1; transform: translateX(200%) translateY(0px) translateZ(0px);transition:transform 500ms 0s, opacity 200ms 0s;}
#header.about .gnb li:hover a {color:#000;} 
#sub_contents.about {padding:50px 5% 100px;}
.about_top {width:100%; text-align:center;}
.about_top .img {position:relative; float:none; display:inline-block; width:80%; border-radius:50%;}
.about_top .img:before {content:''; position:absolute; top:13%; right:1%; width:16%; height:16%; border-radius:50%; background:#1a1a1a;}
.about_top .img img {width:100%; border-radius:50%;}
.about_top .txt {clear:none; width:100%; padding-left:0; word-break:keep-all; text-align:left; margin-top:20px;}
.about_top .txt h2 {font-size:45px; line-height:1.3; color:#fff; font-weight: 900; margin-bottom:20px;}
.about_top .txt p {font-size:18px; color:#fff;}
.about_top strong {display:block; margin-top:30px; font-size:27px; color:#fff;}
.about_top ul {}
.about_top ul li {position:relative; padding-left:10px; font-size:18px; color:#fff;}
.about_top ul li:before {content:''; position:absolute; left:0; top:50%; margin-top: -1px; width:3px; height:3px; background:#fff; border-radius:50%;}


}