/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */ 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 100; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 300; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 400; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 500; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 700; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 900; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); 
 } 

/* Common **********************************************************************/ 
html,body {width:100%; font-size:10px;}
html {overflow-y:scroll; box-sizing:border-box;}
*, *:before, *:after{box-sizing:inherit;}
*{
-webkit-text-size-adjust:none;
-webkit-text-size-adjust - auto | none | N% (default auto)
}
body {word-break:break-all;-ms-word-break:break-all; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0; padding:0;}
fieldset,img {border:0px none; vertical-align:top;}
dl,ul,ol,menu,li {list-style:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
button {border:0 none; background-color:transparent; cursor:pointer;}
body { background:#fff;}
body,th,td,input,select,textarea,button {font-size:15px; line-height:1.7; font-family:'Poppins', 'Noto Sans KR'; color:#222;} 
input, select, textarea, button{vertical-align:middle; }
a:link,a:active,a:visited{color:#7d7d7d; text-decoration:none; border:0px;}
a:hover,a:focus{color:#333; text-decoration:none}

table {border-collapse:collapse; border-spacing:0;}
address,caption,cite,code,dfn,em,var {font-style:normal; font-weight:normal;}
summary, caption, legend, hr {width:0; height:0; font-size: ; line-height: ; overflow: hidden; visibility: hidden; border: none; position:absolute; left:-1000em;}
caption {position:static;}
/* label hidden 처리 */
.invisible, .hide{overflow:hidden; visibility:hidden; width:0; height:0; font-size:0; line-height:0; position:absolute;}
label.invisible{*position:Absolute;}

/* common */
.clfix:after {content: "."; display: block; height:0px; clear: both; visibility: hidden;}
.clfix {display:inline-block;}
.clfix {display:block;}
* html .clfix {height:1%;} /* Hides from IE-mac */
.clfix {zoom:1;} /*for IE 5.5-7*/


.inner {width:1200px; margin: 0 auto;}
.pc_img {display:inline-block;}
.tab_img {display:none;}
.mob_img {display:none;}
.pc {display:block;}
.tab {display:none;}
.mob {display:none;}
html,body {width:100%; font-size:10px;}
 /*마우스 드래그*/
::selection {color:#fff; background:#ff4142	;}
 /* 스크롤바 */
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {/*  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/}
::-webkit-scrollbar-thumb  {border-radius: 0px; background-color:#ff4142; /*-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);*/ }


/* === Main ===*/
#wrap {position:relative; width:100%; overflow:hidden; margin:0 auto;}
#wrap.main {background:#000;}
#header {position:relative; width:100%; z-index: 1000; padding:0 13% 0 0;}
#header .inner {position:relative;width: 100%;}
#header h1 {position:absolute; top:35px; left:3%;}
.gnb {position:absolute; right:1%; top:40px;}
.gnb li {position:relative; float:left; padding-left:20px; margin-left:20px; overflow:hidden; transition: .6s;}
.gnb li:hover a {animation: slide-in .7s cubic-bezier(.3,0,.7,1) both; animation-delay: calc(50ms*var(--char-index));}

.gnb li:before {content:''; position:absolute; left:0; top:auto; right:0; bottom:49%; width:60%; height:1px; margin-right:auto; margin-left: auto;
background:#fff; transform-style: preserve-3d; opacity: 1; transform: translateX(-110%) translateY(0px) translateZ(0px);}
.gnb li:hover:before {background:#ff4142; opacity: 1; transform: translateX(200%) translateY(0px) translateZ(0px);transition:transform 500ms 0s, opacity 200ms 0s;}
.gnb li:hover a {color:#ff4142;}
/* .gnb li.skrollable-after a {color:#fff;}
.gnb li.skrollable-after:before {background:#fff;} */

.gnb li a {display:block; width:100%; height:100%; font-size:16px; color:#fff; font-weight:600;}
.navi_btn {display:none;}
.navigation {display: none;}
.navigation .lnb {display: none;}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in{from{opacity:0}}

#contents {position:relative; width:100%; height: 100vh;}
#contents .inner {position:absolute; top:50%; transform:translateY(-50%); width: 100%; padding:0 13%;}
a.about_link {position:fixed; top:50%; left:0; transform:translateY(-50%); width:80px; height:240px; background:#fff; z-index: 1001;
font-size:1.4em; text-align:center; letter-spacing:4px; color: #000; transition:0.3s ease-in-out;}
.about_link span {position:absolute; width:240px; left:-80px; top:50%; margin-top:-12px; text-align:center; transform:rotate(90deg);}
a.about_link:hover {height:100%; transition:0.3s ease-in-out;}

.contents_tit {padding-top:20px; margin-bottom:5%;}
.contents_tit span {display: block; font-size:35px; color:transparent; -webkit-text-stroke: 1px #fff; -webkit-text-stroke: calc(.005em + 1px) #fff; font-weight:900;}
.contents_tit h1 {position:relative; z-index: 1; display:inline-block; font-size:5vw; font-weight: 900; color:#fff;
overflow:hidden; line-height:1.3; margin-top: -10px;}
.contents_tit h1:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:#000; transition:0.4s ease-in-out;}
.contents_tit h1.on:before {transform:translateX(101%); transition:0.4s ease-in-out 0.5s;}
.contents_tit strong {display:block; margin-top:2%; font-weight: 300; transform:translateX(-5%); transition:0.5s ease-in-out; opacity:0;}
.contents_tit strong a {position:relative; display: inline-block; padding:20px 0; font-size:20px; color:#ff4142; padding-right: 100px; font-weight:700;}
.contents_tit strong i {position:absolute; top:50%; right:0; margin-top:-28px; width:56px; height:56px; border:1px solid #ff4142;
border-radius:50%; transition:0.3s ease-in-out;}
.contents_tit strong i:before {content:''; position:absolute; top:50%; left:-20px; margin-top:-6px; width:43px; height:11px;
background:url('../images/main/more_arrow_w.png') top center no-repeat; background-size:cover; transition:0.3s ease-in-out;}
.contents_tit strong a:hover i {width:66px; height:66px; margin-top:-33px; transition:0.3s ease-in-out; background:#ff4142; border:1px solid #ff4142;} 
.contents_tit strong a:hover i:before {left:8px; background:url('../images/main/more_arrow_w.png') top center no-repeat; background-size:cover;}

.pc_list {display: block;}
.mob_list {display: none;}
#contents .swiper-container {width:130%;}
.main_work {position:relative;}
.pc_list .swiper-container {transform:translateY(10%); transition:0.5s ease-in-out; opacity:0;}
.swiper-wrapper li {position:relative;}
.swiper-wrapper li a {display: block; width: 100%; height: 100%; padding-top:50% /* 80% */;}
.swiper-wrapper li .txt {position:absolute; top:0; left:0; width:100%; height:100%; /* background:rgba(239,80,37,0.8); */ transform:scale(0.9);
opacity:0; transition:0.3s ease-in-out; background:rgba(255,65,66, 0.9);}
.swiper-wrapper li span {position:absolute; display:block; top:50%; left:0; transform:translateY(-50%); width:100%; 
text-align:center; font-size:25px; font-weight:700; color:#fff; z-index: 1;}
.swiper-wrapper li:hover .txt {transform:scale(1); transition:0.3s ease-in-out; opacity:1;}

.main_work_controls {position:absolute; top:-110px; right:0; border-bottom:1px solid #ddd; transform:translateX(10%); transition:0.5s ease-in-out; opacity:0;}
.main_work .swiper-pagination {position:static; display:inline-block; width:auto; font-size:14px; padding-left:25px; padding-top:10px; line-height:14px; color:#fff;}
.main_work .swiper-pagination-current{font-size:30px; font-weight:800; position:absolute; bottom:5px; left:0; color:#ff4142;}

.main_work_controls .swiper-arrow {display:inline-block; margin-left:100px;}
.main_work_controls .swiper-arrow strong {position:relative; display:inline-block; vertical-align:middle; font-size:16px; color:#ff4142; font-weight:600;
margin-left:15px; cursor:pointer; outline:0;}
.main_work_controls .swiper-arrow strong:before {content:'/'; position:absolute; left:-12px; top:5px; font-size:11px; color:#fff; display:inline-block; 
font-weight:500;}
.main_work_controls .swiper-arrow strong:first-child {margin-left:0;}
.main_work_controls .swiper-arrow strong:first-child:before {display:none;}

.move_txt {position:absolute; bottom:40px; left:0; width:100%; border-top:1px solid #fff; border-bottom:1px solid #fff;}
.move_txt span {display:block; animation:moveTxt 15s linear infinite; font-size:18px; color:#fff; letter-spacing:3px; white-space:nowrap;}
@keyframes moveTxt  {
from {transform:translateX(0);}
to {transform:translateX(-100%);}
}

#contents.on .contents_tit strong {opacity:1; transform:translateX(0); transition:0.5s ease-in-out 0.8s;}
#contents.on .main_work_controls {opacity:1; transform:translateX(0); transition:0.5s ease-in-out 1.3s;}
#contents.on .pc_list .swiper-container {opacity:1; transform:translateY(0); transition:0.5s ease-in-out 1.6s;}


@media screen and (max-width:1380px) and (min-width: 1025px){

}

@media screen and (max-width:1200px) and (min-width: 1025px){
.inner {width:100%; padding:0 1%;}
}


/* work */
#header.work {position:relative; height: 210px;}
#sub_contents {width:100%; padding:100px 3% 100px;}

.tab_tit {width:100%; text-align:center; font-size:0; margin-bottom:40px;}
.tab_tit li {position:relative; display:inline-block; font-weight:800; cursor:pointer; font-size:25px; margin-left:30px; z-index:1;
background:linear-gradient(to right, #ff4142, #ff4142 50%, #fff 50%); background-clip:text; -webkit-background-clip:text;
-webkit-text-fill-color:transparent; background-size:200% 100%; background-position:100%; transition:background-position 275ms ease;}
.tab_tit li:hover {background-position: 0 100%;}
.tab_tit li.on {background-position: 0 100%;}
.tab_tit li:first-child {margin-left:0;}

.work_list {width:100%;}
.work_list li {position:relative; float:left; width:48.5%; margin-right:3%; margin-top:45px; padding-top:1.8%; padding-left:2%;}
.work_list li h3.work_tit {position:absolute; top:0; left:0; width:100%; word-break:keep-all; font-size:3vw; color:#fff; font-weight:700; padding:0 6%;
z-index:10; line-height:1; transform:translateX(-10px); opacity:0; transition:0.4s ease-in-out;}
.work_list li:nth-child(2n) {margin-right: 0;}
.work_list li:nth-child(-n+2) {margin-top: 0;}
.work_list li strong {position:absolute; top:15px; right:97%; font-size:12px; color:#fff; white-space:nowrap; transform:rotate(-90deg); transform-origin: right bottom;}
.work_list li a {position:relative; display:block; width:100%; height:0; padding-bottom:50%; z-index: 1;}
.work_list li a:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.2); z-index: -1; opacity:0; transition:0.4s ease-in-out;}
.work_list li:hover h3.work_tit {transform:translateX(0); opacity:1; transition:0.4s ease-in-out;}
.work_list li:hover a:before {opacity:1; transition:0.4s ease-in-out;}

.work_list.work_mob li {width:23.75%; margin-right:1.66%;}
.work_list.work_mob li h3 {padding:0 9%;}
.work_list.work_mob li strong {right:94%}
.work_list.work_mob li:nth-child(4n) {margin-right: 0;}
.work_list.work_mob li:nth-child(-n+4) {margin-top: 0;}
.work_list.work_mob li a {padding-bottom:100%;}
.top_btn {position:fixed; bottom:20px; right:20px; font-size:20px; color:#fff; width:80px; height:80px; border-radius:50%; background:#1a1a1a; z-index: 10; line-height:80px; text-align:center; 
cursor:pointer; font-weight:700; opacity:0; visibility:hidden; transition:0.3s ease-in-out;}
.top_btn.on {opacity:1; visibility:visible; transition:0.3s ease-in-out;}

/* about */
#wrap.about {background:#ff4142; height: 100vh;}
#header.about {height:210px;}
#header.about .gnb li:hover:before {background:#000; opacity: 1; transform: translateX(200%) translateY(0px) translateZ(0px);transition:transform 500ms 0s, opacity 200ms 0s;}
#header.about .gnb li:hover a {color:#000;} 
#sub_contents.about {padding:50px 5% 100px;}
.about_top {width:100%;}
.about_top .img {position:relative; float:left; width:30%; border-radius:50%;}
.about_top .img:before {content:''; position:absolute; top:13%; right:1%; width:16%; height:16%; border-radius:50%; background:#1a1a1a;}
.about_top .img img {width: 100%; border-radius:50%;}
.about_top .txt {float:right; width:70%; padding-left:5%; word-break:keep-all;}
.about_top .txt h2 {font-size:85px; line-height:1.3; color:#fff; font-weight: 900; margin-bottom:20px;}
.about_top .txt p {font-size:21px; color:#fff;}
.about_top strong {display:block; margin-top:40px; font-size:38px; color:#fff;}
.about_top ul {}
.about_top ul li {position:relative; padding-left:15px; font-size:20px; color:#fff;}
.about_top ul li:before {content:''; position:absolute; left:0; top:50%; margin-top: -2px; width:4px; height:4px; background:#fff; border-radius:50%;}



