/* Font */
@font-face {
	font-family: "Noto Sans KR";
	font-style: "normal";
	font-weight: 300;
	src: local("※"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: "normal";
	font-weight: 400;
	src: local("※"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: "normal";
	font-weight: 500;
	src: local("※"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-style: "normal";
	font-weight: 600;
	src: local("※"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans";
	font-style: "normal";
	font-weight: 300;
	src: local("※"), url("../fonts/NotoSans-Light.woff2") format("woff2"), url("../fonts/NotoSans-Light.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans";
	font-style: "normal";
	font-weight: 400;
	src: local("※"), url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans";
	font-style: "normal";
	font-weight: 500;
	src: local("※"), url("../fonts/NotoSans-Medium.woff2") format("woff2"), url("../fonts/NotoSans-Medium.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans";
	font-style: "normal";
	font-weight: 600;
	src: local("※"), url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff");
}

@font-face {
	font-family: "poppins";
	font-style: "normal";
	font-weight: 100;
	src: local("※"), url("../fonts/Poppins-Thin.woff") format("woff");
}

@font-face {
	font-family: "poppins";
	font-style: "normal";
	font-weight: 300;
	src: local("※"), url("../fonts/Poppins-Light.woff") format("woff");
}

@font-face {
	font-family: "poppins";
	font-style: "normal";
	font-weight: 400;
	src: local("※"), url("../fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
	font-family: "poppins";
	font-style: "normal";
	font-weight: 500;
	src: local("※"), url("../fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
	font-family: "poppins";
	font-style: "normal";
	font-weight: 600;
	src: local("※"), url("../fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
	font-family: "poppins";
	font-style: "normal";
	font-weight: 800;
	src: local("※"), url("../fonts/Poppins-ExtraBold.woff") format("woff");
}

@font-face {
	font-family: "poppins";
	font-style: "normal";
	font-weight: 900;
	src: local("※"), url("../fonts/Poppins-Black.woff") format("woff");
}